@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
}

.chat-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-scroll::-webkit-scrollbar {
  display: none;
}